:root {
    --primary-txt-cl: #757575;
    --title-txt-cl: #212121;
    --white-txt-cl: #ffffff;
    --accent-cl: #2196F3;
    --primary-bg-cl: #FFFFFF;
    --secondary-bg-cl: #F5F4FA;
    --accent-bg-cl: #2F303A;
}

body {
    font-family: 'Roboto',sans-serif;
    color: var(--primary-txt-cl);
    background-color: var(--primary-bg-cl);
    letter-spacing: 0.03em
}
h1, h2,h3, h4, h5, h6, p, ul { 
    margin: 0;
    padding: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 2px solid blueviolet;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    outline: 2px solid salmon;

}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: currentColor;
}

/* Page header */
.logo {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-text-beginning {
    color: var(--accent-cl);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-text-end {
    color: var(--white-txt-cl)
}
/* Site nav */
.site-nav {
    color: var(--title-txt-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-cl);
}
.site-nav .link.current {
    color: var(--accent-cl);
}
/* Contact */
.contacts-list-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
}
.contacts-list-header .link:hover,
.contacts-list-header .link:focus {
    color: var(--accent-cl);
}

/* Hero */
.section-hero {
    background-color: var(--accent-bg-cl);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    color: var(--white-txt-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Benefits */
.benefit-title {
    color: var(--title-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefit-text {
    font-size: 14px;
    line-height: 1.71;
}
/* skills */
.section-title {
    color: var(--title-txt-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.section.no-padding {
    padding-top: 0;
}

/* team */
.section-team {
    background-color: var(--secondary-bg-cl);
}

.employee-name {
    color: var(--title-txt-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Footer */
.page-footer {
    background-color: var(--accent-bg-cl);
}
.company-addresses {
    font-style: normal;
}
.physical-adress {
    color: var(--white-txt-cl);
    font-size: 14px;
    line-height: 1.71;
}
.link-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}
.link-footer:hover,
.link-footer:focus {
    color: var(--accent-cl);
}


/* Button */

.btn.main{
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    display: inline-block;
    border: none;
    min-width: 200px;
    
}
.btn.filter {
    color: var(--title-txt-cl);
    background-color: var(--secondary-bg-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}
.btn:hover,
.btn:focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
}
.pointer {
    cursor: pointer;
}
/* Portfolio */
/* main */
.activities-example-title { 
    color: var(--title-txt-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.activities-example-txt {
    font-size: 16px;
    line-height: 1.88;
}